// colors
$color-grey-light: #f5f5f5;
$color-grey-light-2: #e0e0e0;
$color-grey-light-text: #a9a9a9;
$color-grey-dark: #696969;

$color-primary: #6555e7;
$color-secondary: #3e5dd2;
$color-tertiary: #647494;
$color-fourth: #c0d7fb;

$color-red-error: #ff9494;

$color-green: #4bb543;

$color-white-transparent: rgba(white, 0.7);
